.country{
    border: 2px solid skyblue;
    margin: 15px;
    border-radius: 15px;
    padding: 10px;
    font-size: larger;
    font-weight: 500;
}
.country-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4px;
}
.visited{
    background-color: skyblue;
}
.non-visited{
    background-color: bisque;
    color: black;
}